/**
 * Based on http://dbwebb.se/coachen/en-pagemenu-med-drop-down-meny-i-ren-html-och-css
 * Changed to only style li-items instead of a.
 */
.pagemenu {
    display: flex;
    flex-flow: row;
    flex-wrap:  nowrap;
    max-height: 2em;
    min-width:73%;
    margin:0;
    margin-top: 3.3em;
    padding:1em 1em 4px 1em;
    border:0;
    border-bottom:2px solid #999999;
    font-size:14px;
}

.pagemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagemenu li {
    display: inline-block;
    color: #333;
    color:#555555;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;
    position: relative;
}

.pagemenu a {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color:#555555;
  white-space: nowrap;
}

.pagemenu li:hover {
    color: #666;
    background:#999999;
}

.pagemenu li.selected-parent,
.pagemenu li.selected,
.pagemenu li li.selected{
    color: #22f;
    background: #cdcdcd;
}

.pagemenu ul ul {
  background-color: #f9f9f9;
  padding: 8px;
  position: absolute;
  left: -9999px;
  z-index: 2;
}

.pagemenu li li {
  border-top: none;
}

.pagemenu li:hover ul {
  left: 0;
}

.pagemenu li li:hover {
  color: #666;
}

.italic {
  font-style: italic;
}
