$bodyBackgroundColor: #bababa;
$wrapperBackgroundColor: #f3f3f3;
$bodyColor: #333;
$bodyFontSize: 12px;

// Buttons
$text-buttons: #010101;
$back-blue-butt: #80dfff;

// Padding
$padding-content-mobile: 0.4em
